{% extends "AppFulana/padre.html" %}
{% load static %}
{% block contenidoModificable %}
</header>
<!-- #masthead -->
<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main">
        
        <article class="hentry">
        <header class="entry-header">
        <h1 class="entry-title">Inicio de sesión</h1>	
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
        <p><img style="border:10px solid #f4f5f6" src="{%static 'AppFulana/images/woman-5660790_960_720.webp' %}" alt="woman" width="430" class="alignright"></p>
        <p>
        <form action="" method="POST">{%csrf_token%}
            {{form.as_p}}
            <button type="submit">Iniciar sesion</button>
        </form>
        </p>
        <h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Saludos, Fulana</h2>
        </div><!-- .entry-content -->
        </article>
        
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->
</div>
<!-- .container -->

{% endblock %}