{% extends "AppFulana/padre.html" %}
{% load static %}
{% block title %} - Nuevo Posteo{% endblock %}
{% block contenidoModificable %}
</header>
<!-- #masthead -->
<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main">
        
        <article class="hentry">
        <header class="entry-header">
        <h1 class="entry-title">HORA DE UN NUEVO POSTEO!</h1>	
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
        <p>
            <form method="post">{%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Publicar">
            </form>
        </p>
        <h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Saludos, Fulana</h2>
        </div><!-- .entry-content -->
        </article>
        
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->
</div>
<!-- .container -->
        <script>
            var nombre = "{{user.id}}";
            document.getElementById("usuarioPosteo").value = nombre;
        </script>
{% endblock %}