{% extends "AppFulana/padre.html" %}
{% load static %}
{% block contenidoModificable %}

PRUEBAS

<form class="wpcf7" method="post" action="contact.php" id="contactform">
    <div class="form">
        <p><input type="text" name="name" placeholder="Name *"></p>
        <p><input type="text" name="email" placeholder="E-mail Address *"></p>
        <p><textarea name="comment" rows="3" placeholder="Message *"></textarea></p>
        <input type="submit" id="submit" class="clearfix btn" value="Send">
    </div>
</form>

{% endblock %}