{% extends "AppFulana/padre.html" %}
{% load static %}
{% block contenidoModificable %}
</header>
<!-- #masthead -->
<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main">
        
        <article class="hentry">
        <header class="entry-header">
        <h1 class="entry-title">HOLA, {{user}} ESTOS SON TUS POSTEOS: </h1>	        
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
        <p><a href="{% url 'NuevoPosteo' %}">>>>Nuevo posteo>>></a></p>
        <p>
            {%if user %}
            <ul>{%for posteo in object_list%}
                <li>
                <p>{{posteo.tituloPosteo}}</p>
                </li>
                {%endfor%}
            {%endif%}
            </ul>
        </p>

        <h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Saludos, Fulana</h2>
        </div><!-- .entry-content -->
        </article>
        
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
</div>
<!-- #content -->
</div>
<!-- .container -->

{% endblock %}