{% extends "AppFulana/padre.html" %}
{% load static %}
{% block title %} - Posteos{% endblock %}
{% block contenidoModificable %}
</header>
<!-- #masthead -->
<div id="content" class="site-content">
    <div id="primary" class="content-area column two-thirds">
        <main id="main" class="site-main">
        
        <article class="hentry">
        <header class="entry-header">
        <h1 class="entry-title">HOLA, ESTOS SON LOS POSTEOS: </h1>
        </header>
        <!-- .entry-header -->

        <div class="entry-content">
        <p>
            <ul>{%for posteo in object_list%}
                <li>
                    <a href="{% url 'PostIndividual' posteo.id %}"><p>{{posteo.tituloPosteo}}, {{posteo.autorPosteo}}, {{posteo.fechaPosteo}}</p></a>
                </li>
                {%endfor%}
            </ul>
        </p>
        <h2 style="font-family: 'Herr Von Muellerhoff';color:#ccc;font-weight:300;">Saludos, Fulana</h2>
        </div><!-- .entry-content -->
        </article>
        
        </main>
        <!-- #main -->
    </div>
    <!-- #primary -->
    <div id="secondary" class="column third">
        <div id="sidebar-1" class="widget-area" role="complementary">
                
            <aside id="recent-posts-2" class="widget widget_recent_entries">
            <h4 class="widget-title">Buscar posteos que contengan:</h4>
                <form action="/AppFulana/buscarPosteo/" method="GET">
                    <input type="text" name="palabra" id="palabra">
                    <input type="submit" value="buscar">
                </form>
            </aside>


        </div>
        <!-- .widget-area -->
    </div>
</div>
<!-- #content -->
</div>
<!-- .container -->

{% endblock %}